<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button Biodiversity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="static/style.css"> -->

</head>

<body>

  <div class="container text-center">
    <h1 class="jumbotron">Belly Button Biodiversity Dashboard</h1>
  </div>

  <div class="container">
	<h3>Latest Mars News</h3>	
	<p><b></b></p>
	<p></p>
	<div class="col-sm-12 col-lg-8 featuredimage">
		<img src="" />
	</div>
	<div class="col-sm-6 col-lg-4">
		<div id="weatherbox">
			<p><b>Current Weater on Mars</b></p>
			<p></p>
		</div>
		<div id="factstable">
		</div>
	</div>
  </div>
  <div class="container">
  	<hr>
	<h3> Mars Hemispheres </h3>
	<div class="col-sm-12 section">
		<div class="tile viz">
			<figure>
				<img src="" />
				<figcaption> </figcaption>
			</figure>
			<figure>
				<img src="" />
				<figcaption> </figcaption>
			</figure>
			<figure>
				<img src="" />
				<figcaption> </figcaption>
			</figure>
			<figure>
				<img src="" />
				<figcaption> </figcaption>
			</figure>
		</div>
	</div>
  </div>

</body>

</html>
