<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button Biodiversity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <link rel="stylesheet" href="static/style.css"> -->
<style>
#selectBox {
	margin-top: 5px;
	background-color: #eeeeee;
	border-radius: 5px;
	padding: 10px;
}

.metadataheaderbox {
	margin-top: 5px;
	border: solid #337ab7 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #337ab7;
	color: #ffffff;
	padding: 10px;
}

.metadatabox {
	border: solid #337ab7 2px;
	padding: 10px;
}

#gaugeChart {
	overflow-y: hidden;
	height: 550px;
	width: inherit;
}
#pieChart {
	width: inherit;
}
</style>

</head>

<body>

  <div class="container text-center">
    <h1 class="jumbotron">Belly Button Biodiversity Dashboard</h1>
  </div>

  <div class="container">
	<div class="col-sm-12 col-md-4">
		<div id="selectBox">
			<p>SELECT Sample: <p>
			<select id="selDataset" onchange="optionChanged(this.value)">
			</select>
		</div>
		<div class="metadataheaderbox">
			<h5> Sample MetaData </h5>	
		</div>
		<div id="mdbox" class="metadatabox"></div>
	</div>
	<div class="col-sm-12 col-md-8">
		<div id="pieChart"></div>
	</div>
  </div>
  <div class="container col-sm-12">
	<div id="scatterChart" class="col-sm-12"></div>
	<div id="gaugeChart" class="col-sm-12"></div>
  </div>

</body>

<script src="static/js/bbbdd.js"></script>

</html>

